<html>

<link rel="stylesheet"
	href="https://pyscript.net/alpha/pyscript.css" />
<script defer
	src="https://pyscript.net/alpha/pyscript.js">
</script>

<div id="matplotlib-demo">
<div class="row">
   <div class="col-sm-4 p-2 mr-4 mb-1 shadow bg-white rounded">
      <select class="form-control" style="color:black" id="select-matplotlib">
         <option value="Tmax">Maximum Temperature</option>
         <option value="Tmin">Minimum Temperature</option>
         <option value="Sun">Sun</option>
         <option value="Rain">Rain</option>
      </select>
   </div>
</div>

<div class="row">
   <div class="col-sm-4 p-2 mr-4 mb-1 shadow bg-white rounded">
      <div id="chart-matplotlib"></div>
   </div>
</div>
</div>

<py-env>
  - matplotlib
  - pandas
  - seaborn
</py-env>

<py-script>
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Get the data
from pyodide.http import open_url
url = 'https://raw.githubusercontent.com/alanjones2/uk-historical-weather/main/data/Heathrow.csv'
url_content = open_url(url)
df = pd.read_csv(url_content)

# filter the data for the year 2020
df = df[df['Year']==2020]

# Function to plot the chart
def plot_matplotlib(chart):
  fig, ax = plt.subplots()
  sns.lineplot(y=chart, x="Month", data=df, ax=ax)
  assert fig is not None
  pyscript.write("chart-matplotlib",fig)

# Set up a proxy to be called when a 'change'
# event occurs in the select control
from js import document
from pyodide import create_proxy

# Read the value of the select control
# and call 'plot'
def selectChange_matplotlib(event):
   choice = document.getElementById("select-matplotlib").value
   plot_matplotlib(choice)

# set the proxy
def setup_matplotlib():
   # Create a JsProxy for the callback function
   change_proxy = create_proxy(selectChange_matplotlib)
   e = document.getElementById("select-matplotlib")
   e.addEventListener("change", change_proxy)
setup_matplotlib()

# Intitially call plot with 'Tmax'
plot_matplotlib('Tmax')
</py-script>
</html>
